#nameLink a.active {
   color: #fff; 
   text-decoration: none;
}


/* .link {
    color: #fff;
    text-decoration: none;
  }
  
  .link:hover {
    color: red;
  }
  
  .link:visited {
    color: #fff;
  } */
